.hover-message {
    z-index: 999;
    right: 0;
    left: auto;
}

.find-result {
    display: none;
}

.dataTables_wrapper{
    font-size: 0.8rem;
}

.dataTable{
    font-size: 0.8rem;
}

td[rowspan] {
    vertical-align: middle;
}