{% extends 'admin/admin_layout.html' %}
{% block content %}
<h1 class="mt-4">관할지역 발생현황</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">발생현황 조회</li>
</ol>
<div class="container">
    <div id="search-bar" class="row dflex">
        <div class="offset-5"></div>
        <div class="col-1">
            <div class="form-group">
                <select name="date-search-criteria" id="date-search-criteria" class="form-control">
                    <option value="date" selected>일</option>
                    <option value="month">월</option>
                    <option value="year">년</option>
                </select>
            </div>
        </div>
        <div class="col-5">
            <div id="search-field-wrapper" class="input-group">

            </div>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="search" type="button">조회</button>
        </div>
    </div>
    <table id="breakout-data" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" rowspan="2">발생지역</th>
                <th scope="col" rowspan="2">분석일자</th>
                <th scope="col" rowspan="2">분석요청(단위 : 건)</th>
                <th scope="col" colspan="5">분석결과 등급(단위 : 건)</th>
            </tr>
            <tr>
                <th scope="col">매우 높음</th>
                <th scope="col">높음</th>
                <th scope="col">보통</th>
                <th scope="col">낮음</th>
                <th scope="col">매우 낮음</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">충남</th>
                <td>2020-07-03</td>
                <td>100</td>
                <td>1건</td>
                <td>10건</td>
                <td>20건</td>
                <td>49건</td>
                <td>20건</td>
            </tr>
            <tr>
                <th scope="row">충남</th>
                <td>2020-07-02</td>
                <td>100</td>
                <td>1건</td>
                <td>10건</td>
                <td>20건</td>
                <td>49건</td>
                <td>20건</td>
            </tr>
            <tr>
                <th scope="row">충남</th>
                <td>2020-07-01</td>
                <td>100</td>
                <td>1건</td>
                <td>10건</td>
                <td>20건</td>
                <td>49건</td>
                <td>20건</td>
            </tr>
            <tr>
                <th scope="row">충남</th>
                <td>2020-06-30</td>
                <td>100</td>
                <td>1건</td>
                <td>10건</td>
                <td>20건</td>
                <td>49건</td>
                <td>20건</td>
            </tr>
            <tr>
                <th scope="row">충남</th>
                <td>2020-06-29</td>
                <td>100</td>
                <td>1건</td>
                <td>10건</td>
                <td>20건</td>
                <td>49건</td>
                <td>20건</td>
            </tr>
            <tr>
                <th scope="row">충남</th>
                <td>2020-06-28</td>
                <td>100</td>
                <td>1건</td>
                <td>10건</td>
                <td>20건</td>
                <td>49건</td>
                <td>20건</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/js/date_search_field.js"></script>
<!-- DataTable -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script>
    criteriaField.addEventListener("change", function(){
        changeCriteria(this.value, "", "~");
    });
    changeCriteria("date", "", "~");
    $("#breakout-data").DataTable({
        searching: false,
        paging: true,
        info: false
    });
</script>
{% endblock %}