{% extends 'login_layout.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">관리자 로그인</h3></div>
                <div class="card-body">
                <input type="hidden" id="salt" value="{{ salt }}"/>
                    <form method="POST" action="{{ url_for('login') }}" id="login-form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group">
                            <label class="small mb-1" for="input-username">ID</label>
                            <input class="form-control py-4" name="input-username" id="input-username" type="text" placeholder="아이디를 입력해주세요." />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="input-password">비밀번호</label>
                            <input class="form-control py-4" name="input-password" id="input-password" type="password" placeholder="비밀번호를 입력해주세요" />
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="small" href="{{ url_for('find') }}">ID/비밀번호 찾기</a>
                            <button class="btn btn-primary" type="submit">로그인</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a href="{{ url_for('register') }}">관리자 등록하기</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let loginForm = document.getElementById("login-form");
    const salt = document.getElementById("salt").value;
    loginForm.addEventListener("submit", function(e){
        e.preventDefault();
        let pwField = document.getElementById("input-password");
        pwField.value = btoa(pwField.value + salt);
        this.submit();
    });
</script>
{% endblock %}