{% extends 'login_layout.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">ID/비밀번호 찾기</h3>
            </div>
            <div class="card-body">
                <div class="selectArea">
                    <ul class="nav nav-tabs row" style="text-align: center;">
                        <li class="nav-item col-6"><a class="nav-link active" id="id" href="#">ID찾기</a></li>
                        <li class="nav-item col-6"><a class="nav-link" id="pw" href="#">비밀번호 찾기</a></li>
                    </ul>
                </div>
                <div id="username-finder">
                    <form id="username-find-form">
                        <div class="form-group">
                            <label class="small mb-1" for="input-area-1">관할지역</label>
                            <select class="form-control" id="input-area-1" name="input-area-1">
                                <option selected value="">--선택--</option>
                                {% for area in areas %}
                                <option value="{{ area.code }}">{{ area.code_value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="input-email-address-1">등록된 메일주소</label>
                            <input class="form-control py-3" name="input-email-address-1" id="input-email-address-1" type="email"
                                aria-describedby="emailHelp" placeholder="이메일 입력" />
                        </div>
                    </form>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <a class="small" href="{{ url_for('login') }}">로그인 화면</a>
                        <button class="btn btn-primary" id="find-username-button">확인</button>
                    </div>
                </div>
                <div id="pw-finder" style="display:none;">
                    <form id="password-find-form">
                        <div class="form-group">
                            <label class="small mb-1" for="input-area-2">관할지역</label>
                            <select class="form-control" name="input-area-2" id="input-area-2">
                                <option selected value="">--선택--</option>
                                {% for area in areas %}
                                <option value="{{ area.code }}">{{ area.code_value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="input-username">ID</label>
                            <input class="form-control py-3" name="input-username" id="input-username" type="text" placeholder="아이디 입력" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="input-email-address-2">등록된 메일주소</label>
                            <input class="form-control py-3" name="input-email-address-2" id="input-email-address-2" type="email"
                                aria-describedby="emailHelp" placeholder="이메일 입력" />
                        </div>
                    </form>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <a class="small" href="{{ url_for('login') }}">로그인 화면</a>
                        <button class="btn btn-primary" id="find-password-button">확인</button>
                    </div>
                </div>
            </div>
            <!-- 결과화면 띄우는 부분 -->
            <div class="result-section card-body justify-content-center">
                <div id="username-result" class="find-result text-center">
                    <p class="result-message"></p>
                </div>
                <div id="pw-result" class="find-result">
                    <p class="result-message"></p>
                    <form action="{{ url_for('change_password')}}" method="post" id="new-password-form" style="display: none;">
                        <div class="form-group">
                            <label class="small mb-1" for="input-new-password">신규 비밀번호</label>
                            <input class="form-control py-3" name="input-new-password" id="input-new-password" type="password" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="input-new-password-confirm">비밀번호 확인</label>
                            <input class="form-control py-3" name="input-new-password-confirm" id="input-new-password-confirm" type="password" />
                        </div>
                        <input type="hidden" name="pw-change-user-id" id="pw-change-user-id">
                    </form>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <button id="pw-change-button" type="button" class="btn btn-primary">변경</button>
                    </div>
                    <input type="hidden" id="pw-salt" value="{{ salt }}">
                </div>
            </div>
            <!-- 결과 끝 -->
            <div class="card-footer text-center">
                <div class="small"><a href="{{ url_for('register') }}">관리자 등록신청</a></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/csrf_ajax.js"></script>
<script>
    let selectors = document.getElementsByClassName("nav-link");
    let idFinder = document.getElementById("username-finder");
    let pwFinder = document.getElementById("pw-finder");
    for (selector of selectors) {
        selector.addEventListener('click', function (event) {
            if (!this.classList.contains("active")) {
                if (this.id === "id") {
                    idFinder.style.display = "block";
                    pwFinder.style.display = "none";
                } else if (this.id === "pw") {
                    idFinder.style.display = "none";
                    pwFinder.style.display = "block";
                }

                document.getElementsByClassName("active")[0].classList.remove("active");
                this.classList.add("active");
            }
        })
    }
</script>
<script>
    function ajaxError(status) {
        console.log("요청을 보내는 중 에러가 발생함.");
        if(status === 500){
            alert("에러가 발생했습니다.");
        }
    }

    function makeAjaxCall(action, form, successCallback) {
        fetch(action, {
            headers: {
                "X-CSRFToken": csrf_token,
                "Content-type": "application/json"
            },
            method: "POST",
            // body: new FormData(form)
            body : JSON.stringify($(form).serializeObject())
        }).then(
            response => response.text()
        ).then(json => {
                successCallback(JSON.parse(json))
            }
        ).catch(error => {
            ajaxError(response.status)
        })
    }

    function displayFoundUsername(jsonResult) {
        let username = jsonResult["username"];

        let pwResultSection = document.getElementById("pw-result");
        let usernameResultSection = document.getElementById("username-result");
        usernameResultSection.style.display = "block";
        pwResultSection.style.display = "none";
        let messageLine = usernameResultSection.getElementsByClassName("result-message")[0];
        let message = "";
        if (username == null) {
            message = "죄송합니다. 일치하는 정보를 찾을 수 없습니다.";
        } else {
            message = "찾으시는 아이디는 <span class='font-weight-bold'>" + username + "</span> 입니다."
        }
        messageLine.innerHTML = message;
    }

    function displayPasswordChangeSection(jsonResult) {
        let isAuthenticated = jsonResult["is_authenticated"];
        let userId = jsonResult["user_id"];

        let pwResultSection = document.getElementById("pw-result");
        let usernameResultSection = document.getElementById("username-result");
        usernameResultSection.style.display = "none";
        pwResultSection.style.display = "block";
        let messageLine = pwResultSection.getElementsByClassName("result-message")[0];
        let newPasswordForm = document.getElementById("new-password-form");
        
        for(input of newPasswordForm.getElementsByTagName("input")){
            input.value = "";
        }

        let message = "";
        if (isAuthenticated) {
            message = "새로운 비밀번호를 입력해주세요."
            newPasswordForm.style.display = "block";
            document.getElementById("pw-change-user-id").value = userId;
        } else {
            message = "죄송합니다. 일치하는 정보를 찾을 수 없습니다.";
        }
        messageLine.innerHTML = message;
    }

    let forms = document.getElementsByName("form");
    for (form of forms) {
        form.event.preventDefault();
    }

    let usernameButton = document.getElementById("find-username-button");
    usernameButton.addEventListener("click", function () {
        let action = "{{ url_for('find_username') }}";
        let dataForm = document.getElementById("username-find-form");
        makeAjaxCall(action, dataForm, displayFoundUsername)
    });

    let passwordButton = document.getElementById("find-password-button");
    passwordButton.addEventListener("click", function () {
        let action = "{{ url_for('find_password') }}";
        let dataForm = document.getElementById("password-find-form");
        makeAjaxCall(action, dataForm, displayPasswordChangeSection)
    });
</script>
<script>
    const salt = document.getElementById("pw-salt").value;

    function changePasswordCallback(jsonResult){
        let status = jsonResult["status"];

        if(status === 201){
            alert("성공적으로 변경되었습니다. 로그인 화면으로 이동합니다.");
            window.location.href = "{{ url_for('login') }}";
        } else if(status === 202){
            alert("비밀번호가 일치하지 않습니다.");
        } else{
            alert("에러가 발생했습니다.");
        }

    }

    let pwchangeButton = document.getElementById("pw-change-button");
    pwchangeButton.addEventListener("click", function () {
        let action = "{{ url_for('change_password') }}";
        let pwField = document.getElementById("input-new-password");
        let pwConfirmField = document.getElementById("input-new-password-confirm");

        [pwField.value, pwConfirmField.value] = [pwField.value, pwConfirmField.value].map(str => btoa(str + salt));
        let dataForm = document.getElementById("new-password-form");
        makeAjaxCall(action, dataForm, changePasswordCallback);
    });
</script>
{% endblock %}