{% extends 'login_layout.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">관리자 등록 신청</h3></div>
            <div class="card-body">
                <input type="hidden" name="pw-salt" id="pw-salt" value="{{ salt }}">
                <form class="needs-validation" action="{{ url_for('register') }}" method="POST" id="register-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="form-group">
                        <label class="small mb-1" for="input-region-1">관할지역</label>
                        <select class="form-control" id="input-region-1" name="input-region-1">
                            <option selected>--선택--</option>
                            <!-- <option value="1">경기도</option>
                            <option value="2">강원도</option>
                            <option value="3">충청북도</option>
                            <option value="4">충청남도</option>
                            <option value="5">전라북도</option>
                            <option value="6">전라남도</option>
                            <option value="7">경상북도</option>
                            <option value="8">경상남도</option>
                            <option value="9">제주도</option>
                            <option value="10">서울</option>
                            <option value="11">인천</option>
                            <option value="12">세종</option>
                            <option value="13">대전</option>
                            <option value="14">대구</option>
                            <option value="15">광주</option>
                            <option value="16">울산</option>
                            <option value="17">부산</option> -->
                        </select>
                        <div class="valid-feedback">ok</div>
                        <div class="invalid-feedback">관할지역을 선택해주세요.</div>
                    </div>
                    <div class="form-group">
                        <div class="form-row dflex">
                            <div class="form-group col-9">
                                <label class="small mb-1" for="input-username">ID</label>
                                <input class="form-control py-4" id="input-username" type="text" placeholder="ID를 입력하세요." required/>
                            </div>
                            <button class="btn btn-primary py-3 offset-1 align-self-center" type="button" id="check-username-overlap">중복확인</button>
                        </div>
                        <span class="" id="unique-username-badge"></span>
                        <div class="valid-feedback">ok</div>
                        <div class="invalid-feedback">id를 입력해주세요.</div>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="input-email">Email</label>
                        <input class="form-control py-4" id="input-email" type="email" aria-describedby="emailHelp" placeholder="메일주소를 입력하세요." required/>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="input-password">패스워드</label>
                                <input class="form-control py-4" id="input-password" type="password" pattern="[0-9]{4}" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="small mb-1" for="input-password-confirm">패스워드 확인</label>
                                <input class="form-control py-4" id="input-password-confirm" type="password" required/>
                                <span class="badge badge-pill badge-light" id="password-confirm-badge"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4 mb-0">
                        <button class="btn btn-primary" type="button">가입신청</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <div class="small"><a href="{{ url_for('login') }}">이미 계정이 있다면 로그인하세요.</a></div>
            </div>
        </div>
    </div>
</div>      
<script src="/js/csrf_ajax.js"></script>
<script src="/js/register_form_validate.js"></script>
<script>
    const salt = document.getElementById("pw-salt").value;
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else if(form.id === "register-form"){
                        if(!isUniqueId){
                            event.preventDefault();
                            event.stopPropagation();
                            alert("허용되지 않는 id입니다. 중복확인을 해주세요.");
                            document.getElementById("loginId").classList.remove("is-valid");
                            document.getElementById("loginId").style.borderColor = "#dc3545";
                            document.getElementById("loginId").classList.add("is-invalid");
                        }

                        else if(!isPasswordValid){
                            event.preventDefault();
                            event.stopPropagation();
                            alert("PW 작성 규칙을 확인해주세요. (4자리 이상)");
                            document.getElementById("inputPassword").classList.remove("is-valid");
                            document.getElementById("inputPassword").style.borderColor = "#dc3545";
                            document.getElementById("inputPassword").classList.add("is-invalid");
                        }

                        else if(!isPasswordMatch){
                            event.preventDefault();
                            event.stopPropagation();
                            alert("PW가 일치하는지 확인하세요.");
                            document.getElementById("inputConfirmPassword").classList.remove("is-valid");
                            document.getElementById("inputConfirmPassword").style.borderColor = "#dc3545";
                            document.getElementById("inputConfirmPassword").classList.add("is-invalid");
                        } else {
                            let pwField = document.getElementById("input-password");
                            let pwConfirmField = document.getElementById("input-password-confirm");

                            [pwField.value, pwConfirmField.value] = [pwField.value, pwConfirmField.value].map(str => btoa(str + salt));
                        }
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}