{% extends 'admin/admin_layout.html' %}
{% block content %}
<h1 class="mt-4">감염 의심자 발생현황</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">감염의심자</li>
</ol>
<div class="container">
    <div id="search-bar" class="row dflex">
        <div class="offset-5"></div>
        <div class="col-1">
            <div class="form-group">
                <select name="date-search-criteria" id="date-search-criteria" class="form-control">
                    <option value="date" selected>일</option>
                    <option value="month">월</option>
                </select>
            </div>
        </div>
        <div class="col-5">
            <div id="search-field-wrapper" class="input-group">
            </div>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="search" type="button">조회</button>
        </div>
    </div>
    <table id="suspecters-data" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">결과 등급</th>
                <th scope="col">조회 일자</th>
                <th scope="col">조회 일자 분석(단위 : 건)</th>
                <th scope="col">비교일자</th>
                <th scope="col">비교 일자 분석(단위 : 건)</th>
                <th scope="col">비교 일자 대비(건수 / 비율)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">매우 높음</th>
                <td rowspan="5">2020-07-03</td>
                <td>150</td>
                <td rowspan="5">2020-07-01</td>
                <td>13</td>
                <td>+137 건 / +91.3%</td>
            </tr>
            <tr>
                <th scope="row">높음</th>
                
                <td>30</td>
                
                <td>42</td>
                <td>-12 건 / -40.0%</td>
            </tr>
            <tr>
                <th scope="row">보통</th>
                
                <td>213</td>
                
                <td>150</td>
                <td>+63 건 / +29.6%</td>
            </tr>
            <tr>
                <th scope="row">낮음</th>
                
                <td>350</td>
                
                <td>111</td>
                <td>+239 건 / +68.3%</td>
            </tr>
            <tr>
                <th scope="row">매우 낮음</th>
                
                <td>421</td>
                
                <td>323</td>
                <td>+09건 / +23.3%</td>
            </tr>
            <tr>
                <th scope="row" colspan="2">합계</th>
                <td>1164건</td>
                <td></td>
                <td>639건</td>
                <td>+525 건 / +45.1%</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/js/date_search_field.js"></script>
<!-- DataTable -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script>
    criteriaField.addEventListener("change", function(){
        changeCriteria(this.value, "조회", "비교");
    });
    changeCriteria("date", "조회", "비교");
    $("#suspecters-data").DataTable();
</script>
{% endblock %}