<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome</h1>
    <div>
        <button id="clicker">click</button>
        <h2 style="color: red;" id="result"></h2>
    </div>
    <script>
        let button = document.getElementById("clicker");

        function reqListener(){
            document.getElementById("result").innerText = this.responseText
        }

        button.addEventListener('click', function(event){
            let req = new XMLHttpRequest();
            req.addEventListener("load", reqListener);
            req.open("GET", "{{ url_for('hello') }}");
            req.send();
        });
    </script>
</body>
</html>