<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>참여형 역학조사 시스템 관리자</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">ID/비밀번호 찾기</h3></div>
                                    <div class="card-body">
                                        <div class="selectArea">
                                            <ul class="nav nav-tabs row" style="text-align: center;">
                                                <li class="nav-item col-6"><a class="nav-link active" id="id" href="#">ID찾기</a></li>
                                                <li class="nav-item col-6"><a class="nav-link" id="pw" href="#">비밀번호 찾기</a></li>
                                            </ul>
                                        </div>
                                        <div id="idFinder">
                                            <form>
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputRegion1">관할지역</label>
                                                    <select class="form-control py-3" id="inputRegion1">
                                                        <option selected>--선택--</option>
                                                        <option value="1">경기도</option>
                                                        <option value="2">강원도</option>
                                                        <option value="3">충청북도</option>
                                                        <option value="4">충청남도</option>
                                                        <option value="5">전라북도</option>
                                                        <option value="6">전라남도</option>
                                                        <option value="7">경상북도</option>
                                                        <option value="8">경상남도</option>
                                                        <option value="9">제주도</option>
                                                        <option value="10">서울</option>
                                                        <option value="11">인천</option>
                                                        <option value="12">세종</option>
                                                        <option value="13">대전</option>
                                                        <option value="14">대구</option>
                                                        <option value="15">광주</option>
                                                        <option value="16">울산</option>
                                                        <option value="17">부산</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputEmailAddress">등록된 메일주소</label>
                                                    <input class="form-control py-3" id="inputEmailAddress1" type="email" aria-describedby="emailHelp" placeholder="이메일 입력" />
                                                </div>
                                            </form>                                        
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="login.html">로그인 화면</a>
                                                <a class="btn btn-primary" href="#">확인</a>
                                            </div>
                                        </div>
                                        <div id="pwFinder" style="display:none;">
                                            <form>
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputRegion2">관할지역</label>
                                                    <select class="form-control py-3" id="inputRegion2">
                                                        <option selected>--선택--</option>
                                                        <option value="1">경기도</option>
                                                        <option value="2">강원도</option>
                                                        <option value="3">충청북도</option>
                                                        <option value="4">충청남도</option>
                                                        <option value="5">전라북도</option>
                                                        <option value="6">전라남도</option>
                                                        <option value="7">경상북도</option>
                                                        <option value="8">경상남도</option>
                                                        <option value="9">제주도</option>
                                                        <option value="10">서울</option>
                                                        <option value="11">인천</option>
                                                        <option value="12">세종</option>
                                                        <option value="13">대전</option>
                                                        <option value="14">대구</option>
                                                        <option value="15">광주</option>
                                                        <option value="16">울산</option>
                                                        <option value="17">부산</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputId">ID</label>
                                                    <input class="form-control py-3" id="inputId" type="text" placeholder="아이디 입력" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputEmailAddress1">등록된 메일주소</label>
                                                    <input class="form-control py-3" id="inputEmailAddress1" type="email" aria-describedby="emailHelp" placeholder="이메일 입력" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputNewPassword">신규 비밀번호</label>
                                                    <input class="form-control py-3" id="inputNewPassword" type="password"/>
                                                </div>
                                                <div class="form-group">
                                                    <label class="small mb-1" for="inputNewPasswordConfirm">비밀번호 확인</label>
                                                    <input class="form-control py-3" id="inputNewPasswordConfirm" type="password"/>
                                                </div>
                                            </form>                                        
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="login.html">로그인 화면</a>
                                                <a class="btn btn-primary" href="#">확인</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="register.html">관리자 등록신청</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-3 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script>
            let selectors = document.getElementsByClassName("nav-link");
            let idFinder = document.getElementById("idFinder");
            let pwFinder = document.getElementById("pwFinder");
            for(selector of selectors){
                selector.addEventListener('click', function(event){
                    if(!this.classList.contains("active")){
                        if(this.id === "id"){
                            idFinder.style.display = "block";
                            pwFinder.style.display = "none";
                        } else if(this.id === "pw"){
                            idFinder.style.display = "none";
                            pwFinder.style.display = "block";
                        }

                        document.getElementsByClassName("active")[0].classList.remove("active");
                        this.classList.add("active");
                    }
                })
            }
        </script>
    </body>
</html>
