<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>참여형 역학조사 시스템 관리자</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">관리자 등록 신청</h3></div>
                                    <div class="card-body">
                                        <form class="needs-validation" action="#" method="POST" id="register-form">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputRegion">관할지역</label>
                                                <select class="form-control py-3" id="inputRegion" required>
                                                    <option selected>--선택--</option>
                                                    <option value="1">경기도</option>
                                                    <option value="2">강원도</option>
                                                    <option value="3">충청북도</option>
                                                    <option value="4">충청남도</option>
                                                    <option value="5">전라북도</option>
                                                    <option value="6">전라남도</option>
                                                    <option value="7">경상북도</option>
                                                    <option value="8">경상남도</option>
                                                    <option value="9">제주도</option>
                                                    <option value="10">서울</option>
                                                    <option value="11">인천</option>
                                                    <option value="12">세종</option>
                                                    <option value="13">대전</option>
                                                    <option value="14">대구</option>
                                                    <option value="15">광주</option>
                                                    <option value="16">울산</option>
                                                    <option value="17">부산</option>
                                                </select>
                                                <div class="valid-feedback">ok</div>
                                                <div class="invalid-feedback">관할지역을 선택해주세요.</div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputId">ID</label>
                                                        <input class="form-control py-4 col-9" id="inputId" type="text" placeholder="ID를 입력하세요." required/>
                                                    </div>
                                                    <button class="btn btn-primary offset-1" id="check-overlap">중복확인</button>
                                                </div>
                                                <div class="valid-feedback">ok</div>
                                                <div class="invalid-feedback">id를 입력해주세요.</div>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="메일주소를 입력하세요." required/>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputPassword">패스워드</label>
                                                        <input class="form-control py-4" id="inputPassword" type="password" pattern="{4,}" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputConfirmPassword">패스워드 확인</label>
                                                        <input class="form-control py-4" id="inputConfirmPassword" type="password" required/>
                                                        <span class="badge badge-pill badge-light" id="password-confirm-badge"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-4 mb-0">
                                                <button class="btn btn-primary" type="button">가입신청</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="login.html">이미 계정이 있다면 로그인하세요.</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>

        <!-- <script src="js/daumsoft/pms/rsa/jsbn.js"></script>
        <script src="js/daumsoft/pms/rsa/prng4.js"></script>
        <script src="js/daumsoft/pms/rsa/rng.js"></script>
        <script src="js/daumsoft/pms/rsa/rsa.js"></script> -->
        <script>    
            let isUniqueId = false;
            let isPasswrodValid = false;
            let isPasswordMatch = false;

            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            } else if(form.id === "register-form"){
                                if(!isUniqueId){
                                    event.preventDefault();
                                    event.stopPropagation();
                                    alert("허용되지 않는 id입니다. 중복확인을 해주세요.");
                                    document.getElementById("loginId").classList.remove("is-valid");
                                    document.getElementById("loginId").style.borderColor = "#dc3545";
                                    document.getElementById("loginId").classList.add("is-invalid");
                                }
    
                                else if(!isPasswordValid){
                                    event.preventDefault();
                                    event.stopPropagation();
                                    alert("PW 작성 규칙을 확인해주세요. (4자리 이상)");
                                    document.getElementById("inputPassword").classList.remove("is-valid");
                                    document.getElementById("inputPassword").style.borderColor = "#dc3545";
                                    document.getElementById("inputPassword").classList.add("is-invalid");
                                }
    
                                else if(!isPasswordMatch){
                                    event.preventDefault();
                                    event.stopPropagation();
                                    alert("PW가 일치하는지 확인하세요.");
                                    document.getElementById("inputConfirmPassword").classList.remove("is-valid");
                                    document.getElementById("inputConfirmPassword").style.borderColor = "#dc3545";
                                    document.getElementById("inputConfirmPassword").classList.add("is-invalid");
                                } else {
                                    // var password = $("#inputPassword");
    
                                    // var rsa = new RSAKey();
                                    // rsa.setPublic("{{}}", "{{}}");
                                    // password.val(rsa.encrypt(password.val()));
                                }
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>


    </body>
</html>
